services:
  - type: web
    name: smart-helper-api
    runtime: node
    region: singapore
    plan: free
    rootDir: server
    buildCommand: npm install && npx prisma generate && npm run build
    startCommand: node dist/src/main.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: DIRECT_URL
        sync: false
      - key: PORT
        value: 3000
